.normal {
  background-color: #6d6d4e;
  color: white;
}

.fire {
  background-color: #9C531F;
  color: white;
}

.water {
  background-color: #445E9C;
  color: white;
}

.electric {
  background-color: #A1871F;
  color: white;
}

.grass {
  background-color: #4E8234;
  color: white;
}

.ice {
  background-color: #638D8D;
  color: white;
}

.fighting {
  background-color: #7D1F1A;
  color: white;
}

.poison {
  background-color: #682A68;
  color: white;
}

.ground {
  background-color: #927D44;
  color: white;
}

.flying {
  background-color: #6D5E9C;
  color: white;
}

.psychic {
  background-color: #A13959;
  color: white;
}

.bug {
  background-color: #6D7815;
  color: white;
}

.rock {
  background-color: #786824;
  color: white;
}

.ghost {
  background-color: #493963;
  color: white;
}

.dragon {
  background-color: #4924A1;
  color: white;
}

.dark {
  background-color: #49392F;
  color: white;
}

.steel {
  background-color: #787887;
  color: white;
}

.fairy {
  background-color: #9B6470;
  color: white;
}


